.userProfilePage {
  display: flex;
  flex-direction: column;
}

.userHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userHeaderRight {
  display: flex;
  flex-direction: column;
}

.buttonHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
