.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.baseInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

}

.nutrientsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
