.goalCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: initial;
}

.counter {
  display: flex;
  gap: 1px;
  align-items: end;
}

.unit {
  font-size: var(--font-size-0);
  color: var(--note);
}
