.card {
  display: flex;
  padding: 10px 12px;
  border: solid 0.05rem transparent;
  border-radius: var(--border-radius-1);
}

.plain {
  background: linear-gradient(135deg, white, var(--light-gray-1));
  border-color: var(--border);
}

.blue {
  background: linear-gradient(135deg, white, #f2f5ff);
  border-color: var(--border);
}
